/EnglishTutorAI/EnglishTutorAI.csproj.user
/.vs/
/ClientApp/dist/
/EnglishTutorAI/obj/
/EnglishTutorAI/bin
/EnglishTutorAI/ClientApp/dist
/EnglishTutorAI/ClientApp/.angular
/EnglishTutorAI/ClientApp/node_modules
/EnglishTutorAI/ClientApp/package-lock.json
/EnglishTutorAI/ClientApp/src/app/app.component.js.map
/EnglishTutorAI/ClientApp/src/main.js.map
/EnglishTutorAI/ClientApp/ClientApp/dist/
/EnglishTutorAI/ClientApp/src/app/app.component.js
/AiServices/bin/
/AiServices/obj/
/BootstrapModule/bin/
/BootstrapModule/obj/
/DataTransferObjects/bin/
/DataTransferObjects/obj/
/DbModels/bin/
/DbModels/obj/
/DomainServices.Interfaces/bin/
/DomainServices.Interfaces/obj/
/DomainServices/bin/
/DomainServices/obj/
/EnglishTutorAI/ClientApp2/
/UnitOfWork.Interfaces/bin/
/UnitOfWork.Interfaces/obj/
/UnitOfWork/bin/
/UnitOfWork/obj/
/Infrastructure.Interfaces/bin/
/Infrastructure.Interfaces/obj/
/InfrastructureService/bin/
/InfrastructureService/obj/
