<!-- <div class="min-height-300 bg-primary position-absolute w-100"></div> -->
<user-aside-nav-panel></user-aside-nav-panel>

<main class="container-fluid p-4">
    <h1>{{title}}</h1>
    <router-outlet></router-outlet>
</main>
<!-- <main class="main-content position-relative border-radius-lg ">
    <user-top-nav-panel></user-top-nav-panel>

    <div class="container-fluid py-4">
        <router-outlet></router-outlet>
    </div>
</main> -->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">English tutor</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Link</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link text-white" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <div class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link text-white font-weight-bold">
                        <i class="fa fa-user me-sm-1"></i>
                        <span class="d-sm-inline d-none">Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link text-white font-weight-bold">
                        <span class="d-sm-inline d-none">Log out</span>
                    </a>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </nav> -->


