<div class="row">
  <!-- <user-brief-statistics *ngFor="let briefStatistic of briefStatistics" [briefStatistic]="briefStatistic"></user-brief-statistics> -->

  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4" *ngFor="let briefStatistic of briefStatistics">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-uppercase font-weight-bold text-truncate">{{briefStatistic.title}}</p>
              <h5 class="font-weight-bolder">
                {{briefStatistic.spentTime}}
              </h5>
              <p class="mb-0 text-truncate" [attr.hidden]="!isChangedDifferentTime(briefStatistic.differentTime) ? '' : null">
                <span class="text-sm font-weight-bolder" [ngClass]="isRaiseDifferentTime(briefStatistic.differentTime) ? 'text-success' : 'text-warning'">
                  {{briefStatistic.differentTime | signNumber }}</span>
                since last 7 days
              </p>
              <p class="mb-0" [attr.hidden]="isChangedDifferentTime(briefStatistic.differentTime) ? '' : null">&nbsp;</p>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape shadow-primary text-center rounded-circle"
                [ngClass]="isRaiseDifferentTime(briefStatistic.differentTime) ? 'bg-gradient-success' : 'bg-gradient-warning'">
              <i class="fa text-lg opacity-10 br-success" aria-hidden="true"
                [ngClass]="isRaiseDifferentTime(briefStatistic.differentTime) ? 'fa-thumbs-up' : 'fa-info'"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-uppercase font-weight-bold text-truncate">Hours of studying</p>
              <h5 class="font-weight-bolder">
                $53,000
              </h5>
              <p class="mb-0">
                <span class="text-success text-sm font-weight-bolder">+55%</span>
                since yesterday
              </p>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
              <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-uppercase font-weight-bold text-truncate">Texts Read</p>
              <h5 class="font-weight-bolder">
                2,300
              </h5>
              <p class="mb-0">
                <span class="text-success text-sm font-weight-bolder">+3%</span>
                since last week
              </p>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
              <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-uppercase font-weight-bold text-truncate">Essays Written</p>
              <h5 class="font-weight-bolder">
                +3,462
              </h5>
              <p class="mb-0">
                <span class="text-danger text-sm font-weight-bolder">-2%</span>
                since last quarter
              </p>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
              <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-uppercase font-weight-bold text-truncate">Grammar Rules Learned</p>
              <h5 class="font-weight-bolder">
                $103,430
              </h5>
              <p class="mb-0">
                <span class="text-success text-sm font-weight-bolder">+5%</span> than last month
              </p>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
              <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>