.bg-success {
    background-color: #2DCE89 !important;
}
.btn-outline-success {
    color: #2DCE89 !important;
    border-color: #2DCE89 !important;
}
.btn-outline-success:hover {
    color: #fff !important;
    background-color: #2DCE89;
    border-color: #2DCE89;
}
.action-column {
    min-width: 90px;
    width: 90px;
}
