<table class="table">
  <thead>
    <tr>
      <th scope="col">Topic</th>
      <th scope="col">Modified on</th>
      <th scope="col">State</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let essay of essays" [ngClass]="{ 'table-secondary': currentEssay?.essayId == essay.essayId }">
      <td scope="row">{{essay.title}}</td>
      <td>{{getFormattingDateTime(essay.modificationDate)}}</td>
      <td>
        <span class="badge bg-warning" [ngClass]="{ 'visually-hidden': essay.status != 0 }">in progress</span>
        <span class="badge bg-success" [ngClass]="{ 'visually-hidden': essay.status != 1 }">done</span>
      </td>
      <td class="text-begin action-column">
          <button type="button" class="btn btn-outline-info btn-sm" 
            [ngClass]="{ 
              'visually-hidden': essay.status == 0 || currentEssay?.essayId == essay.essayId
            }" (click)="onViewEssay(essay)">
              <i class="fa fa-eye text-lg opacity-10" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-outline-success btn-sm" 
            [ngClass]="{
              'visually-hidden': essay.status == 1 || currentEssay?.essayId == essay.essayId
            }" (click)="onEditEssay(essay)">
              <i class="fa fa-pencil-square-o text-lg opacity-10" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-outline-danger btn-sm ms-1" 
            [ngClass]="{
              'visually-hidden': essay.status == 1 || currentEssay?.essayId == essay.essayId
            }" (click)="onDeleteEssay(essay)">
              <i class="fa fa-trash-o text-lg opacity-10" aria-hidden="true"></i>
          </button>
      </td>
    </tr>
  </tbody>
</table>
  

  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto">&nbsp;</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Text deleted successfully
      </div>
    </div>
  </div>