.btn-success {
    background-color: #2DCE89 !important;
    border-color: #2DCE89 !important;
}

.text-success {
    color: #2DCE89 !important;
}

.full-height-content {
    min-height: calc(100vh - 170px);
}

.control-panel-end {
    justify-content: flex-end;
    display: flex;
}